nav li {
    list-style: none;
}


body{
    background-color: black;
}


.ace {
    background-image: url(file:///C:/Users/OWNER/Documents/GitHub/website/images/bg1.png);
}

section {
    padding: 100px;
}


.hd {
    image-rendering: pixelated;
}

.hd:hover {
    image-rendering: pixelated;
    cursor: pointer;
    animation: slightrotate 15000ms ease-in-out forwards;
    animation-iteration-count: infinite
}



img {
    border-radius: 25px;
}


.left{
    float: left;
}

.right{
    float: right;
}

nav {
    background: rgb(2,0,36);
    background: black;
    border-radius: 25px;
    animation: nav-load 300ms ease-in-out;
}


@font-face { 
    font-family: Minecraft; src: url('antipasto.ttf');
    color: white
}



.center {
    text-align: center;
    margin-top: 150px;
}

nav li:hover{
      object-position: 10px;
}

@keyframes nav-load {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0%)
    }
}


@keyframes slightrotate {
    0% {
        transform: rotate(0deg)
    }
    45% {
        transform: rotate(5deg)
    }
    75% {
        transform: rotate(-5deg)
    }
    100% {
        transform: rotate(0deg)
    }


}

.navbutton {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
    border: 3px solid white;
}

.applicationbutton {
    background-color:#0b60ff;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
}

.applicationbutton:hover {
    cursor:pointer;
}


.navbutton:hover {
    animation: buttonscale 300ms ease-in-out forwards;
    cursor: pointer;

}

.navbuttonselected:hover {
    cursor: pointer;

}
.navbuttonselected {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
}


.loading {
    animation: loading 1200ms ease-in-out forwards;
    animation-iteration-count:infinite;
    filter: invert(1);
    opacity: 50%;
    align-content: center;
}

@keyframes buttonscale {
    0% {
        scale: 0;
        opacity: 100;
        border-radius: 15px;
    }
    100% {
        scale: 100;
        opacity: 50;
        border-radius: 100px;
    }
}

.fade {
    animation: fade 1000ms ease-in-out forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mcfontalt {
    font-family: Minecraft; src: url('Minecrafter.Reg.ttf');
}

#my{
    zoom: 75%;
    }

html {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    }

footer {
    background-color: black;
    margin-top: 500px;
}

.social {
    margin-top: 50px;
    margin-bottom: 50px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.p1 {
    text-align: center;
    margin-top: 75px;
}

.bog {
    display:contents;
  }

.spot {
    align-items: center;
}